        body {
  			background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../IMG/bg-masthead.jpg");
  			background-position: 100% 100%;
  			background-repeat: no-repeat;
  			background-attachment: scroll;
  			background-size: cover;
        }
 
 		.bodyText{
 			display: flex;
 		}
 		
 		.bodyInput{
 			display: none;
 		}
 		
 		.cmtLink{
 			font-size: 12px;
 		}