            @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
            
            body{
  				background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../IMG/bg-masthead.jpg");
  				background-position: center;
  				background-repeat: no-repeat;
  				background-attachment: scroll;
				background-size: cover;
  				color: #fff;
                z-index: 1;
            }
            
            ul.countdown {
                list-style: none;
                margin: 1px 0;
                padding: 0;
                display: block;
                text-align: center;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 30px;
                font-weight: 300;
                line-height: 80px;
                color:#fff
            }

            ul.countdown li.seperator {
                font-size: 30px;
                line-height: 70px;
                vertical-align: top;
                color:#fff
            }

            ul.countdown li p {
                color: #a7abb1;
                font-size: 12px;
            }

            a {
            	color: inherit;
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            .source {
                width: 405px;
                margin: 0 auto;
                background: #4f5861;
                color: #a7abb1;
                font-weight: bold;
                display: block;
                white-space: pre;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                        border-radius: 3px;
            }
            
            .board_lists{
            	display: flex;
            	flex-direction: row;
            	padding-left: 103px;
            	padding-right: 103px;
            }
            
            .boardThumbnail, .boardThumbnail *{
            	box-sizing: border-box;
            }
            
            .boardThumbnail{
            	position: relative;
            	display: inline-block;
            	overflow: hidden;
            	max-width: 100%;
            	height: auto;
            }
            
            .thumbnailImage{
            	position: relative;
            	width: 293px;
            	height: 293px;
            	max-height: 100%;
            	max-width: 100%;
            	object-fit: cover;
            	display: block;
            }
            
            .properties{
            	position: absolute;
            	opacity: 0;
            	top: 0;
				left: 0;
            	right: 0;
            	bottom: 0;
            	width: 100%;
            	height: 100%;
            	background: rgba(0, 0, 0, .5);
            	color: #fff;
            	padding: 15px;
				-moz-transition: all 0.2s ease-in-out 0s;
				-webkit-transition: all 0.2s ease-in-out 0s;
				-ms-transition: all 0.2s ease-in-out 0s;
				transition: all 0.2s ease-in-out 0s;
            }
            
            .boardThumbnail:hover .properties {
            	opacity: 1;
            }
            
            .properties *{
            	text-align: center;
            	font-size: 15px;
            	display: inline-block;
            	position: absolute;
            	top: 50%;
            	left: 50%;
				-moz-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
            }
            
            @media (min-width: 736px){
            	.rowMedia{
            		padding: 0 103px;
            		margin-bottom: 28px;
            	}
            	.colMedia{
            		margin-right: 28px;
            	}
            }
            @media (max-width: 735px){
            	.rowMedia{
            		padding: 0;
            		margin-bottom: 3px;
            	}
            	.colMedia{
            		margin-right: 3px;
            	}
            }
            
            .remote{
            	background-color: rgb(255, 255, 255, .3);
            	display: flex;
            	justify-content: center;
            	align-items: center;
            	outline: none;
            	position: fixed;
            	bottom: 35px;
            	right: 35px;
            	width: 70px;
            	height: 70px;
            	z-index: 999;
            	font-size: 28px;
            	color: rgba(0, 0, 0, .5);
            	border-radius: .25rem;
            	cursor: pointer;
            }
            
            .remote:hover{
            	background-color: rgb(255, 255, 255);
            	color: rgb(0, 0, 0);
            }
            
            .bottomAlign{
            	display: flex;
            	width: 100%;
            	justify-content: center;
            	align-items: center;
            	padding: 80px 0;
            }
            
            .bottomAlign input[type="button"]{
            	width: 180px;
            	height: 60px;
            	font-size: 18px;
            }