        body {
  			background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../IMG/bg-masthead.jpg");
  			background-position: center;
  			background-repeat: no-repeat;
  			background-attachment: scroll;
  			background-size: cover;
        }

        .badge:hover {
            box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
        }
        
        input,
        textarea{
  			background-color: #343a40;
  			color: #fff;
        }