
            @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
            
        	body {
  				background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../IMG/bg-masthead.jpg");
  				background-position: center;
  				background-repeat: no-repeat;
  				background-attachment: scroll;
	  			background-size: cover;
        	}
        	
            ul.countdown {
                list-style: none;
                margin: 1px 0;
                padding: 0;
                display: block;
                text-align: center;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 30px;
                font-weight: 300;
                line-height: 80px;
            }

            ul.countdown li.seperator {
                font-size: 30px;
                line-height: 70px;
                vertical-align: top;
            }

            ul.countdown li p {
                color: #a7abb1;
                font-size: 12px;
            }

            a {
                color: #76949F;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .source {
                width: 405px;
                margin: 0 auto;
                background: #4f5861;
                color: #a7abb1;
                font-weight: bold;
                display: block;
                white-space: pre;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                        border-radius: 3px;
            }
            
            .errorMsg{
            	color: firebrick;
            	font-weight: 600;
            }
            
        	input,
        	textarea{
  				background-color: #343a40;
	  			color: #fff;
        	}